<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailSafe – Railway Safety System</title>
  
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>o

<header>
  <div class="logo">🚆 RailSafe</div>
  <nav>
    <a href="Railways safety.html">Home</a>
    <a href="about.html">About</a>
  </nav>
  <a href="sos.html"><button class="sos-btn">SOS</button></a>
</header>

<section class="hero">
  <h1>Prevent Railway Accidents</h1>
  <p>
    AI-powered railway safety system using real-time monitoring,
    predictive analysis, and emergency alert systems.
  </p>

  <div class="hero-buttons">
    <a href="features.html"><button class="start-btn">Explore Features</button></a>
    <button class="learn-btn">Learn More</button>
  </div>
</section>

<footer>
  © 2026 RailSafe | All Rights Reserved
</footer>

</body>
</html>
