<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOS Emergency</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="../static/sos.css">
</head>

<body>

<div class="sos-box">
  <h1>SOS</h1>
  <p>Press only in case of emergency on railway track</p>

  <button class="sos-btn" onclick="sendSOS()">SOS</button>

  <div class="status" id="statusText"></div>
</div>

<script>
  function sendSOS() {
    document.getElementById("statusText").innerText =
      "🚨 Emergency alert sent to Control Room!";

    // Get live location
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        console.log("SOS LOCATION:");
        console.log("Latitude:", position.coords.latitude);
        console.log("Longitude:", position.coords.longitude);
      });
    }
  }
</script>

</body>
</html>
